pack: core

builtins:
  no_op_ld:
    steps:
      - function: cond_no_op_ld_rust
  no_op_add_sub:
    steps:
      - function: cond_no_op_add_sub_rust
  ld_a_from_hli:
    steps:
      - function: cond_ld_a_from_hli

patterns:
  - name: "No-op ld"
    builtin: "no_op_ld"
  - name: "No-op add|sub"
    builtin: "no_op_add_sub"
  - name: "Load a from [hli]/[hl+]"
    builtin: "ld_a_from_hli"
