pack = "pret"

# DEPRECATED: This file is no longer used by the Rust optimizer.
# Use `configs/packs.yaml` and select `--pack pret` instead.

# Patterns imported from optimize.py.
#
# This pack aims to mirror optimize.py's full pattern inventory.

[[pattern]]
name = "Redundant arguments"
builtin = "py_redundant_arguments"

[[pattern]]
name = "nops"
builtin = "py_nops"

[[pattern]]
name = "No-op ld"
builtin = "py_no_op_ld"

[[pattern]]
name = "No-op add|sub"
builtin = "py_no_op_add_sub"

[[pattern]]
name = "Inefficient HRAM load"
builtin = "py_inefficient_hram_load"

[[pattern]]
name = "Inefficient HRAM store"
builtin = "py_inefficient_hram_store"

[[pattern]]
name = "a = 0"
builtin = "py_a_eq_0"

[[pattern]]
name = "a++|a--"
builtin = "py_a_inc_dec"

[[pattern]]
name = "a *= 2"
builtin = "py_a_times_2"

[[pattern]]
name = "a = ~a"
builtin = "py_a_not"

[[pattern]]
name = "a = N - a"
builtin = "py_a_eq_n_minus_a"

[[pattern]]
name = "a = carry ? P : Q"
builtin = "py_a_eq_carry_pq"

[[pattern]]
name = "a++|a-- if carry"
builtin = "py_a_inc_dec_if_carry"

[[pattern]]
name = "a++|a-- if not carry"
builtin = "py_a_inc_dec_if_not_carry"

[[pattern]]
name = "a = a >> 3"
builtin = "py_a_shift_right_3"

[[pattern]]
name = "a = X +/- carry"
builtin = "py_a_eq_x_plusminus_carry"

[[pattern]]
name = "a = carry +/- X"
builtin = "py_a_eq_carry_plusminus_x"

[[pattern]]
name = "a|b|c|d|e|h|l = z|nz|c|nc ? P : Q"
builtin = "py_reg_conditional_ternary"

[[pattern]]
name = "a & X == X"
builtin = "py_a_and_x_eq_x"

[[pattern]]
name = "a = (a & MASK) | (b|c|d|e|h|l & ~MASK)"
builtin = "py_a_mask_or"

[[pattern]]
name = "hl|bc|de += a|N"
builtin = "py_pair_add_a_or_n"

[[pattern]]
name = "hl|bc|de += a|N (jump)"
builtin = "py_pair_add_a_or_n_jump"

[[pattern]]
name = "hl|bc|de = Foo + a"
builtin = "py_pair_eq_foo_plus_a"

[[pattern]]
name = "b|c|d|e|h|l += carry"
builtin = "py_reg_plus_carry"

[[pattern]]
name = "b|c|d|e|h|l -= carry"
builtin = "py_reg_minus_carry"

[[pattern]]
name = "hl|bc|de = a * 16"
builtin = "py_pair_eq_a_mul_16"

[[pattern]]
name = "hl|bc|de = a * 16 (rept)"
builtin = "py_pair_eq_a_mul_16_rept"

[[pattern]]
name = "hl *= 2"
builtin = "py_hl_mul_2"

[[pattern]]
name = "hl = *Foo"
builtin = "py_pair_eq_deref_foo"

[[pattern]]
name = "h,l|b,c|d,e = P,Q"
builtin = "py_pair_load_pq"

[[pattern]]
name = "*hl = N"
builtin = "py_deref_hl_eq_n"

[[pattern]]
name = "*hl++|*hl--"
builtin = "py_deref_hl_inc_dec"

[[pattern]]
name = "*hl++|*hl-- = a"
builtin = "py_deref_hl_inc_dec_eq_a"

[[pattern]]
name = "*hl++|*hl-- = N"
builtin = "py_deref_hl_inc_dec_eq_n"

[[pattern]]
name = "a = *hl++|*hl--"
builtin = "py_a_eq_deref_hl_inc_dec"

[[pattern]]
name = "*hl++|*hl-- = b|c|d|e"
builtin = "py_deref_hl_inc_dec_eq_r"

[[pattern]]
name = "b|c|d|e = *hl++|*hl--"
builtin = "py_r_eq_deref_hl_inc_dec"

[[pattern]]
name = "a == 0"
builtin = "py_a_eq_0_cmp"

[[pattern]]
name = "a == 1"
builtin = "py_a_eq_1_cmp"

[[pattern]]
name = "ei + ret"
builtin = "py_ei_ret"

[[pattern]]
name = "Tail call"
builtin = "py_tail_call"

[[pattern]]
name = "Tail farcall"
builtin = "py_tail_farcall"

[[pattern]]
name = "Tail predef"
builtin = "py_tail_predef"

[[pattern]]
name = "Fallthrough"
builtin = "py_fallthrough"

[[pattern]]
name = "Conditional call"
builtin = "py_conditional_call"

[[pattern]]
name = "Conditional return"
builtin = "py_conditional_return"

[[pattern]]
name = "Conditional fallthrough"
builtin = "py_conditional_fallthrough"

[[pattern]]
name = "call hl"
builtin = "py_call_hl"

[[pattern]]
name = "Pointless hli|hld"
builtin = "py_pointless_hli_hld"

[[pattern]]
name = "Pointless jumps"
builtin = "py_pointless_jumps"

[[pattern]]
name = "Useless loads"
builtin = "py_useless_loads"

[[pattern]]
name = "Redundant loads"
builtin = "py_redundant_loads"

[[pattern]]
name = "Similar loads"
builtin = "py_similar_loads"

[[pattern]]
name = "Conditionally load 0"
builtin = "py_conditionally_load_0"

[[pattern]]
name = "Inefficient prefix opcodes"
builtin = "py_inefficient_prefix_opcodes"

[[pattern]]
name = "Redundant and|or"
builtin = "py_redundant_and_or"

[[pattern]]
name = "Pointless and|or a"
builtin = "py_pointless_and_or_a"

[[pattern]]
name = "Redundant inc|dec"
builtin = "py_redundant_inc_dec"

[[pattern]]
name = "hl|bc|de = N / bc|de|hl = K / hl|bc|de += bc|de|hl"
builtin = "py_pair_eq_n_then_other_then_add"

[[pattern]]
name = "hl|bc|de = N / ... / inc|dec hl|bc|de"
builtin = "py_pair_eq_n_then_inc_dec"

[[pattern]]
name = "hl|bc|de = N / ... / bc|de|hl = K / hl|bc|de += bc|de|hl"
builtin = "py_pair_eq_n_and_other_add"

[[pattern]]
name = "dec a, then AddNTimes"
builtin = "py_dec_a_then_addntimes"

[[pattern]]
name = "Redundant ret"
builtin = "py_redundant_ret"

[[pattern]]
name = "Stub function"
builtin = "py_stub_function"

[[pattern]]
name = "Stub jump"
builtin = "py_stub_jump"

[[pattern]]
name = "Inefficient WRAM increment/decrement"
builtin = "py_wram_inc_dec"

[[pattern]]
name = "Trailing string space"
builtin = "py_trailing_string_space"
