pack = "rgbds"

# A pared-down, gbdev/RGBDS-generic set of patterns.
# This intentionally omits Pret-specific macros and conventions.

[[pattern]]
name = "Redundant arguments"
builtin = "py_redundant_arguments"

[[pattern]]
name = "nops"
builtin = "py_nops"

[[pattern]]
name = "No-op ld"
builtin = "py_no_op_ld"

[[pattern]]
name = "No-op add|sub"
builtin = "no_op_add_sub"

[[pattern]]
name = "a = 0"
builtin = "py_a_eq_0"

[[pattern]]
name = "a++|a--"
builtin = "py_a_inc_dec"

[[pattern]]
name = "a *= 2"
builtin = "py_a_times_2"

[[pattern]]
name = "a = ~a"
builtin = "py_a_not"

[[pattern]]
name = "Load a from [hli]/[hl+]"
builtin = "ld_a_from_hli"
